<div class="form-inline clearfix">
  <div class="nested-fields">
    <%= f.input :step, label: false, input_html: { class: 'form-input form-control directions-text-box' } %>
    <%= link_to_remove_association "Remove", f, class: "form-button btn btn-default remove" %>
  </div>
</div>
