<h2><%=@user.name%> comments:</h2>
<br />
<div>
  <%@comments.each do |comment|%>
    <h2><%=link_to "#{comment.comment_recipe}", recipe_path(comment.recipe)%></h2>
    <h3><%=link_to "#{comment.content}", user_comment_path(comment.user, comment)%></h3><br>
  <%end%>
</div>
