<div>
  <h1><%=@comment.username%>:</h1>
  <h2><%=@comment.content%></h2>
  <%if @comment.user == current_user%>
    <%= link_to "Edit Comment", edit_user_comment_path(@comment.user, @comment), class: "btn"%>
    <%= link_to "Delete Comment", user_comment_path(@comment.user,@comment), method: :delete, class: "btn"%>
  <%end%>
</div>
