<h3>Recipes</h3>
<br />
<% if user_signed_in? %>
  <% @recipes.each do |recipe| %>
    <%= image_tag recipe.image.url(:medium) %>
    <h4><%= link_to recipe.title, recipe %></h4>
  <% end %>
<% else %>
  <h3>Oops, looks like you're not signed in...</h3>
  <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-default' %>
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-default' %>
<% end %>
