/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import 'https://fonts.googleapis.com/css?family=Reenie+Beanie';
 @import 'https://fonts.googleapis.com/css?family=Lato:300,400';


html,body { height:100%; }

.navbar {
  background: white;
  border: none;
}

.navbar h1 {
  text-align: center;
  font-family: 'Reenie Beanie', cursive;
  font-weight: light;
  padding-top: 5%;
}

.navbar h1 a {
  text-decoration: none;
  color: black;
}

div.logo{
  content:url('colormixer.png');
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
      margin-top: 50px;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      text-transform: uppercase;
    }
  }

  .dividingline{
    border-bottom: 1px solid #CECECE;
    width: 70%;
    margin: 0 auto;
  }

div.index-main {
  margin: 0 auto;
  padding-left: 15%;
  padding-top: 5%;
}

div.index-main img {
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
}
div.index-main img:hover {
  opacity: .5;
}

div.your-recipes h3{
  font-family: 'Reenie Beanie', cursive;
  font-weight: light;
  text-transform: uppercase;
}

div.your-recipes h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  margin-top: -1px;
}

div.your-recipes h4 a {
  color: black;
  text-decoration: none;
  letter-spacing: .2em;
  font-size: .7em;
}

div.all-recipes h3 {
  font-family: 'Reenie Beanie', cursive;
  font-weight: light;
  text-transform: uppercase;
}

div.all-recipes h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  margin-top: -1px;
}

div.all-recipes h4 a {
  color: black;
  text-decoration: none;
  letter-spacing: .2em;
  font-size: .7em;
}

div.recipe {
  background: #F7F7F7;
}

div.main-content h2{
  font-family: 'Reenie Beanie', cursive;
  font-weight: light;
  text-transform: uppercase;
  margin-left: 15%;
  padding-top: 20px;
  margin-bottom: -15px;
}

div.form-new label{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 15%;
  display: block;
  margin-top: 25px;
  width: 20%;
}

div.form-new input, textarea {
  display: block;
  margin-left: 15%;
  margin-bottom: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

div.form-new textarea{
  height: 100px;
  width: 400px;
  border: 1px solid #CECECE;
}

div.categories {
  display: inline-block;
  margin-left: 15%;
  margin-right: 27%;
}

div.categories h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1em;
}

div.categories input {
  display: inline;
  margin-right: 2px;
}

div.categories label {
  margin-right: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: .9em;
  text-transform: uppercase;
}

div.ingredients-title {
  margin-left: 30%;
}

div.ingredients-title h3{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1em;
}

div.ingredients-title label {
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: .9em;
  text-transform: uppercase;
}

.btn, .form-submit {
  background: #F7F7F7;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  border-radius: 0px;
  color: black;
  border: 1px solid #CECECE;
  margin-left: 15%;
  width: 70px;
}

.form-submit{
  margin-top: 30px;
  margin-bottom: 10px;
}

div.main-content-show {
  margin-left: 15%;
}

div.main-content-show h2{
  font-family: 'Reenie Beanie', cursive;
  font-weight: light;
  text-transform: uppercase;
  padding-top: 20px;
  display: inline-block;
  float: left;
}

div.main-content-show img {
  display: block;
  clear: both;
}

div.main-content-show {
  padding-bottom: 40px;
}

div.show-categories {
  display: inline-block;
  float: right;
  margin-right: 40%;

}

div.show-categories h3, .show-description h3, .show-instructions h3, .show-ingredients h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
}

div.show-categories p, .show-description p, .show-instructions p, .show-ingredients li {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

div.show-ingredients li {
  text-transform: uppercase;
}

div.show-categories a {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: .8em;
  text-transform: uppercase;
  color: black;
}

.show-links {
  margin-top: 25px;
}

.add-comment {
  margin-left: 0 auto;
  margin-top: 50px;
}

.add-comment h4 {
  font-family: 'Reenie Beanie', cursive;
  font-weight: light;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 15px;
}

.add-comment input[type=text] {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  width: 25%;
  margin-right: 15px;
}

.add-comment input[type=submit] {
  background: #F7F7F7;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  border-radius: 0px;
  color: black;
  border: 1px solid #CECECE;
}

.recipe-comments {
  margin-top: 45px;
}

.recipe-comments h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 20px;
}

.recipe-comments p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  border-bottom: 1px solid #CECECE;
  padding-bottom: 20px;
  padding-top: 10px;
  width: 35%;
}
